html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #fbfff4;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  background-color: #fbfff4;
  width: 100%;
  height: 100%;
}

.item {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: #fcf2ec;
}

footer {
  background-color: #daeeef;
  height: 100%;
  width: 100%;
}
